* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */

  --Blue-200: hsl(193, 38%, 86%);
  --Green-300: hsl(150, 100%, 66%);

  /* Neutral colors */
  --Blue-600: hsl(217, 19%, 38%);
  --Blue-900: hsl(217, 19%, 24%);
  --Blue-950: hsl(218, 23%, 16%);

  /* Body Copy */

  --Font-size: 28px;
  --Family: [Manrope];
  --Weights: 800;
}
body {
  background-color: var(--Blue-950);
  margin: 80px 50px 50px 60px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heropage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: var(--Blue-900);
  justify-content: center;
  margin: 100px 80px 80px 80px;
  padding: 30px;
}
.Advice {
  color: var(--Green-300);
}

.quote {
  color: white;
}
.dice {
  background-color: var(--Green-300);
  padding: 14px;
  border-radius: 25px;
  margin-top: -100px;
  cursor: pointer;
}

.dice :hover {
  cursor: pointer;
  color: var(--Green-300);
  transition: ease-in-out 0s;
  scale: 1.1;
}
